@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+Mono:wght@500&family=Silkscreen&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: red;
    overflow: hidden;
}

.gameContainer {
    background-color: blue;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.dino {
    background-image: url(dino.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 233px;
    height: 114px;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.obstacle {
    width: 166px;
    height: 113px;
    background-image: url(dragon.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 44vw;
}

.gameOver {
    /* visibility: hidden; */
    position: relative;
    top: 63px;
    font-size: 35px;
    text-align: center;
    font-family: 'Noto Sans Mono', monospace;
}

#scoreCount {
    color: azure;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 20px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Noto Sans Mono', monospace;
}

.animateDino {
    animation: dino 0.6s linear;
}

.obstacleAni {
    animation: obstacleAni 2s linear infinite;
}

.endDino {
    animation: endDino 0.6s linear;
}

@keyframes dino {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 422px;
    }

    100% {
        bottom: 0;
    }
}


@keyframes obstacleAni {
    0% {
        left: 100vw;
    }

    100% {
        left: -10vw;
    }
}

@keyframes endDino {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 422px;
    }

    100% {
        bottom: -500px;
    }
}